/**
 * This file contains styles for the recipe-page.html file.

 * It should define the visual appearance of the recipe list, forms, and other related elements.

 * TODO (OPTIONAL): Not mandatory to modify the file and is optional
 * - Customize margins and padding for specific elements to improve spacing.
 * - Add hover effects or transitions for interactive elements (e.g., buttons, links).
 * - Refine input and textarea styling for better responsiveness and accessibility.
 * - Define additional styles for error messages or validation feedback if required.

 */

body {
    margin: 2px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    padding-bottom: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 4px rgba(79, 70, 229, 0.5);
    outline: none;
}

button {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    margin: 0 auto;
    box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.158);
    max-width: 50%;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;

}

ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}